/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

$tdl-Libre: 'Libre Barcode 128 Text', cursive;
$tdl-Jose:'Josefin Sans', sans-serif;

$tablet: "(min-width: 1000px)";

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: url("../img/travel-720.jpg");


	font-family: Arial, Helvetica, sans-serif;

	@media#{$tablet}{
		background-size: cover;
	}
}

.todo-list{
	max-width: 900px;
	margin:5% auto;
	padding:3%;
	background-color:lightblue;
	border: 3px dashed darkcyan;

	h1{
		font-size: 2rem;
		margin-bottom: 1rem;
		font-family: $tdl-Libre;
		font-size:3.5rem;
	}

	.input-box{
		margin: 10px 0;
		padding:10px;
		width:40%;
	}
	
	footer{
		margin-top: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.status{
			font-family: $tdl-Libre;
			font-size:2.8rem;
		}
		
		.input-check{
			width: 20px;
			height: 20px;
		}
		
	}


}

.undone{
	max-width: 900px;
	margin:5px auto;
	padding:3%;
	background-color:lightblue;
	border: 3px dashed darkcyan;
	font-family: $tdl-Jose;
	font-size: 1.8rem;
	

	button{
		float: right;
		width: 100px;
		height: 35px;
		font-size: 1.2rem;
		background-color: rgb(25, 37, 74);
		color:lightblue;
	}
}

.done{
	color:lightblue;
	font-family: $tdl-Jose;
	font-size: 1.8rem;
	background-color: rgb(25, 37, 74);
	text-decoration: line-through;
	max-width: 900px;
	margin:5px auto;
	padding:3%;
	border: 3px dashed darkgrey;	
	display: none;

	button{
		float: right;
		width: 100px;
		height: 35px;
		font-size: 1.2rem;
		background-color: lightblue;
	}

}

.show-completed  .done {
	display: block;
}



/* 2. Content ================================= */

