/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: rgb(13, 120, 139);
	font-family: Arial, Helvetica, sans-serif;
}

.todo-list{
	max-width: 900px;
	margin:0 auto;
	padding:3%;
	background-color:lightblue;
	border: 3px dashed darkcyan;

	h1{
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	
	footer{
		margin-top: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		
	}


}

.undone{
	max-width: 900px;
	margin:0 auto;
	padding:3%;
	background-color:lightblue;
	border: 3px dashed darkcyan;

	button{
		float: right;
	}

}

.done{
	color:lightblue;
	text-decoration: line-through;
	max-width: 900px;
	margin:0 auto;
	padding:3%;
	border: 3px dashed darkgrey;	
	display: none;

	button{
		float: right;
	}

}

.show{
	display: block;
}

/* 2. Content ================================= */

